In [5]:
import azureml.core
from azureml.core import Workspace, Dataset, Datastore
from azureml.core import Experiment
from azureml.core.compute import ComputeTarget
from azureml.train.automl import AutoMLConfig
from azureml.train.automl.run import AutoMLRun
from azureml.widgets import RunDetails

import pandas as pd
import numpy as np

print("SDK version:", azureml.core.VERSION)

SDK version: 1.40.0

In [6]:
from azureml.core.authentication import InteractiveLoginAuthentication

# Get the Workspace object from Azure
# You can find tenant id under azure active directory->properties
tenant_id = '198c7d8c-e010-45ce-a018-ec2d9a33f58f'
ia = InteractiveLoginAuthentication(tenant_id=tenant_id)
ws_name = 'automlbook'
subscription_id = '4d278f3d-b4fd-4fa2-86b6-d34b96bc888f'
resource_group = 'Foxy_Resources'
ws = Workspace.get(name=ws_name,
                   subscription_id=subscription_id,
                   resource_group=resource_group,
                   auth=ia)
print(ws.name, ws.resource_group, ws.location, ws.subscription_id, sep='\n')

Performing interactive authentication. Please follow the instructions on the terminal.

The default web browser has been opened at https://login.microsoftonline.com/198c7d8c-e010-45ce-a018-ec2d9a33f58f/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.

Interactive authentication successfully completed.
automlbook
Foxy_Resources
centralus
4d278f3d-b4fd-4fa2-86b6-d34b96bc888f

In [8]:
# Create datastore, try getting datastore via Workspace object
datastore = Datastore.get_default(ws)
datastore_name = 'workspaceblobstore'
datastore = Datastore.get(ws, datastore_name)

In [13]:
# Create a dataset from the datastore of the Workspace
dataset_name = 'automlbook Titanic Training Data A'
# dataset = Dataset.get_by_name(ws, dataset_name)
dataset = Dataset.get_by_name(ws, dataset_name, version = 'latest')
dataset_columns = ['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']

# Show a sample of the data in the dataset
dataset.take(10).to_pandas_dataframe()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0     False       3    male  22.0      1      0   7.2500  None        S
1      True       1  female  38.0      1      0  71.2833   C85        C
2      True       3  female  26.0      0      0   7.9250  None        S
3      True       1  female  35.0      1      0  53.1000  C123        S
4     False       3    male  35.0      0      0   8.0500  None        S
5     False       3    male   NaN      0      0   8.4583  None        Q
6     False       1    male  54.0      0      0  51.8625   E46        S
7     False       3    male   2.0      3      1  21.0750  None        S
8      True       3  female  27.0      0      2  11.1333  None        S
9      True       2  female  14.0      1      0  30.0708  None        C

In [10]:
# Set (User Managed) Local Environment up
from azureml.core import Environment

# Editing a run configuration property on-fly.
user_managed_env = Environment("user-managed-env")

user_managed_env.python.user_managed_dependencies = True

# You can choose a specific Python environment by pointing to a Python path 
#user_managed_env.python.interpreter_path = '/home/johndoe/miniconda3/envs/myenv/bin/python'

In [ ]:
# Run Training Experiment locally
from azureml.core import ScriptRunConfig

# Experiment
experiment_name = 'Local_Training_AutoML'
experiment = Experiment(workspace=ws, name=experiment_name)

# Define Compute Cluster to use
compute_target = 'local'
script_path = 'scripts/localTrainingAutoML.py'
dataset_name = 'automlbook Titanic Training Data A'

scriptRunConfig = ScriptRunConfig(
        source_directory='./', 
        command=['python', script_path, 
                "--tenant_id", tenant_id,
                "--ws_name", ws_name,
                "--subscription_id", subscription_id,
                "--resource_group", resource_group,
                "--datastore_name", datastore_name,
                "--dataset_name", dataset_name],
        environment=user_managed_env,
        compute_target=compute_target)
        
AutoML_run = experiment.submit(scriptRunConfig, show_output = True)
RunDetails(AutoML_run).show()

In [ ]:
# Register Model from the AutoML_run
# description = "Best Local AutoML Regression Run using Titanic Sample Data."
# tags = {
#   "project" : "Local Training AutoML", 
#   "creator": "fox", 
#   "task": "classification", 
#   "dataset": "automlbook Titanic Training Data A", 
#   "metric": "normalized_root_mean_squared_error"
# }
# model_name = "Local-Training-AutoML-Titanic-RMSE"

# AutoML_run.register_model(model_name=model_name, description=description, tags=tags)